@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .touch-none {
    touch-action: none;
  }
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  @apply tap-highlight-transparent select-none md:select-auto;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
