@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .touch-none {
    touch-action: none;
  }
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
}

body {
  @apply tap-highlight-transparent select-none md:select-auto;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
